.card {
    background-color: #0d0d0d;
    color: #fff;
    padding: 40px;
    height: max-content;
    border: 1px solid #000;
    border-radius: 4px;
    margin:10px;
    font-size:20px;
    width:20rem;
  
  }

button{
    padding: 8px;
  background-color:white;
  width: max-content;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  display: inline-block;
}