  
.achiveContent p{
    color: #c6fef1 !important;
    font-family: 'Raleway',"sans serif" !important;
 
}

.achive{

    min-height: 30vh;
    padding: 2%;   
}

@media(max-width:476px){

   .achiveContent p{
    color: #c6fef1 !important;
    font-family: 'Raleway',"sans serif" !important;
}
}