.profile{
    background-color:black;
    color: #fff;
    padding: 50px;
    border: 1px solid #000;
    border-radius: 4px;
    margin:20px auto;
    font-size:2rem;
    text-align: left;
    font-family: 'Oswald', sans-serif;
}
input{
    background-color: white;
    padding:1px;
    font-size:.7rem;


}
.resume{
    color:white;
    font-family: 'Oswald', sans-serif;
    background-color:black;
    background-color:black;
    color: #fff;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 4px;
    font-size:1.5rem;
    text-align:center;
}

span{
    font-size: 2rem;
}
.btn{
    font-size: 1rem;
    margin-top: 10px;
    background-color: grey;
}
.btn:hover{
    background-color:cyan;
}