

button{ 
    font-size: large;
    background-color: white;
    display: inline-flex;
    margin: 30px 10px;
    padding: 100px;

}
.heading h1{
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 7rem;
}
.heading h4{
    color:white;
  
    font-size: 3rem;
    font-family: 'Shadows Into Light', cursive;
}
.col1 button{
    padding: 5vh 10vh;
    font-family: 'Oswald', sans-serif;
    box-sizing:border-box;
    font-size: 2rem;
}
.col2 button{
    padding: 5vh 10vh;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    box-sizing:border-box;
}