.container{
    width: 100%;
    display: flex;
    justify-content: center;

}

.job{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color:grey
}
.title{
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.2rem;
    color:grey

}


