.nav{
    position: fixed;
    top:0;
    width:100%;
    padding: 20px;
    display: flex;
    height :65px;
    justify-content: space-between;
    background-color: black;

    font-family: 'Overpass', sans-serif;
    z-index:1;

}

.logo{
    font-size: 25px;
    font-family: 'Comfortaa';

}
.nav-wrapper{
    padding-left: 15px;
    padding-right: 15px;
    color:white;
}
