.pcontainer{
    
}
.tophead{
    margin-top: 5rem;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color:grey;
}
form{
   display:flex;
   justify-content: center;
   
}
.jobblanks{
    margin: 0 1rem;
    background-color:  #f5fdff   ;
    border-radius: 10px;
    padding-top:2px;
    padding-bottom: 12px;
    flex:3;
    border-inline-color: black;
 
}
.jobradio{
     margin: 0 1rem;
    background-color:  #f5fdff   ;
    border-radius: 10px;
    padding-top:2px;
    padding-bottom: 12px;
    flex:1;
    display: inline-block;
}

.plabel{
    color: black;
    padding: 0 1rem;
}
.input-field{
    padding:0 1rem;
}

    