
.tophead{
    margin-top: 5rem;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color:grey;
}
form{
   display:flex;
   justify-content: center;
   
}
.jobblanks{
    margin: 0 1rem;;
    border-radius: 10px;
    padding-top:2px;
    padding-bottom: 12px;
    flex:3;
    
 
}

.radio label{
    padding-right: 1rem;
}
