.lform{
    display:flex;
    flex-direction: column;
   
}
 .tophead{
     color:grey;
 }
 

input{
    color: white;
   
}
.lbtn{
 
    background-color: rgba(231, 230, 230, 0.815);
    border: none;;
    font-family: 'Comfortaa';
    border-radius: 5px;
}