.rform{
    display:flex;
    flex-direction: column;
    margin:0 1rem;
}
 .tophead{
     color:grey;
 }
 
.rbtn{
 
    background-color: rgba(231, 230, 230, 0.815);
    border: none;;
    font-family: 'Comfortaa';
    border-radius: 5px;
}
